# Add token for uploading to the registry. Replace <your_project_id>
# with the project you want your package to be uploaded to.
# The auth toke is only necessary if you have a private package

//git.atonline.com//api/v4/projects/546/packages/npm/:_authToken=xc86yhdJpC5V42ZLvyxt
